.authorization-icon {
  margin-top: 96px;
  font-size: 96px;
  color: #365F8C;
  text-align: center;
  width: 100%;
}

.authorization-header {
  font-size: 54px;
  color: #365F8C;
  text-align: center;
  width: 100%;
}

.authorization-title {
  margin: 64px auto 0;
  width: 100%;
  text-align: center;
  color: #737373;
  font-size: 32px
}

.authorization-content {
  margin: 48px auto 0;
  width: 75%;
  max-width: 600px;
  text-align: end;
}

.authorization-message {
  max-width: 600px;
  text-align: center;
  color: #737373;
}

.authorization-button {
  margin-top: 16px;
}

.authorization-error {
  margin-top: 16px;
  text-align: left;
}
