<div>
  <i class="fa fa-magic authorization-icon"></i>

  <h4 class="authorization-title">Enter your device ID to continue to MAGE.</h4>

  <div class="authorization-content">
    <p class="authorization-message">To access MAGE you will need to enter a device ID.  If you do not have a device ID please ask you MAGE administrator to provide you with one.</p>

    <div class="" ng-class="{'has-error': status > 399}">
      <input ng-model="uid" name="uid" type="text" placeholder="Device ID" autocapitalize="off" class="form-control"/>
    </div>

    <button class="btn btn-primary authorization-button" type="submit" ng-click="authorize(uid)">Continue to MAGE</button>

    <div class="authorization-error alert alert-danger clearfix" ng-show="status > 399">
      <strong>Invalid Device ID</strong>
      <p>Device ID is invalid, please check your device ID, and try again.</p>
    </div>
  </div>

</div>
